{{#tr-editor as |e|}}
    {{#e.label}}
        {{tr-error-tooltip errors=errors}}
        {{label}}
        {{tr-info-tooltip title=title content=info}}
    {{/e.label}}
    {{#e.content}}
        <div class="tr-checkbox-editor-control">
            <div class="tr-checkbox-editor-placeholder"></div>
            <div class="tr-checkbox-editor-check" {{action 'toggle'}}></div>
        </div>
    {{/e.content}}
{{/tr-editor}}