<div class="tr-splitview-wrapper">
    <div class="tr-splitview-pane theme-background-lowest">
        {{yield (hash pane=(component 'tr-contentpresenter'))}}
    </div>
    <div class="tr-splitview-content">
        {{yield (hash content=(component 'tr-contentpresenter'))}}
    </div>
</div>